.App {
  text-align: center;
}


.App-body {
  margin: 5px;
  min-height: 82.5vh;
  text-align: center;
}


.App-footer {
  font-size: 20px;
  color: white;
}

a{
  font-size: 30px;
  padding: 5px;
}







