.App {
  text-align: center;
  /* height: auto; */
}

.App-header {
  background-color: #273758;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  min-height: 69vh;
}

.App-footer {
  background-color: #273758;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a{
  font-size: 30px;
  padding: 5px;
}

.messageContainer{
  display: grid;
}

.smsCard{
  border:solid 2px #282c34 ;
  margin: 10px;
  display: inline-table;
  max-width: 34vh;
  min-width: 34vh;
  box-shadow: 5px 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px 10px 10px 10px;
  margin: 10px;
  background: whitesmoke;
  padding: 2vh;
}


button {
  margin: 10px;
  
}

.App-link {
  color: #61dafb;
}

